.apartementCard {
  height: 340px;
  width: 340px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  background: var(--primary);

  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: color 0.2s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  .cardTitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #ffffff;
    padding-left: 20px;
    height: 10%;
    display: flex;
    align-items: center;
  }

  .imageContainer {
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    img {
      height: 340px;
      transition: 1s transform;
    }
  }
}
