.apartementCard {
  height: 340px;
  width: 340px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  background: #ff6060;

  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  .cardTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #ffffff;
    padding-left: 20px;
    height: 10%;
    display: flex;
    align-items: center;
  }

  .imageContainer {
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    img {
      height: 340px;
      width: 340px;
      transition: 1s transform;
    }
  }

  .recipe {
    > i {
      position: absolute;
      transition: color 0.2s;
      z-index: 1;
      &:hover {
        color: var(--red-1);
      }
    }
    .recipeTitle {
      color: var(--primary);
    }
  }
}
