@use '../../assets/styles/mixins' as mixin;

@keyframes slideup {
  from {
    transform: translatey(20px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}

.aboutPageContainer {
  min-height: 71vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixin.xs {
  }
}

.bannerContainer {
  height: 100%;
  animation: slideup 1s forwards;
  opacity: 0;
  animation-delay: calc(0.1s / 1);
}

.wrapper {
  width: 84vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideup 1s forwards;
  opacity: 0;
  animation-delay: calc(0.3s / 1);
  @include mixin.xs {
    max-width: 335px;
    width: 100%;
  }
}

.accordion {
  width: 1023px;
  @include mixin.xs {
  }
}
