header {
  width: 1240px;
  height: 68px;
  top: 40px;
  left: 100px;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;

  ul {
    display: flex;
  }

  img {
    cursor: pointer;
  }
}

.linkAccueuil {
  cursor: pointer;
  width: 136px;
  height: 34px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;

  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #ff6060;
  &:hover {
    text-decoration-line: underline;
  }
}

.linkPropos {
  cursor: pointer;

  width: 116px;
  height: 34px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #ff6060;
  &:hover {
    text-decoration-line: underline;
  }
}
