@use './assets/styles/mixins' as mixin;

.layout {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixin.lg-lt {
    margin: 0px 20px 0px 20px;
  }
  @include mixin.xs {
  }
  margin: 0px 20px 0px 20px;
  background-color: #ffffff;
}

.footerContainer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
