@keyframes slideup {
  from {
    transform: translatey(20px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}

.carousselContainer {
  height: 415px;
  width: 1240px;
  border-radius: 25px;
  animation: slideup 1s forwards;
  opacity: 0;
}

.titleContainer {
  width: 635px;
  left: 100px;
  top: 573px;
}

.container {
  display: flex;
  flex-direction: column;
}

.nameTagContainer {
  height: 30px;
  display: flex;
}

.rateContainer {
  height: 40px;
}

.hostContainer {
  width: 196px;
  height: 70px;
}

.layoutContainer {
  animation: slideup 1s forwards;
  opacity: 0;
  display: flex;
  width: 1240px;
  justify-content: space-between;
}

.animate1 {
  animation-delay: calc(0.1s / 1.5);
}

.animate2 {
  animation-delay: calc(0.3s / 1.5);
}

.animate3 {
  animation-delay: calc(0.6s / 1.5);
}
.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion {
  width: 582px;
  display: flex;
  justify-content: space-between;
}

.descriptionContainer {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  animation: slideup 1s forwards;
  opacity: 0;
}
