@use '../../assets/styles/mixins' as mixin;

@keyframes slideup {
  from {
    transform: translatey(20px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousselContainer {
  height: 415px;
  width: 1240px;
  border-radius: 25px;
  animation: slideup 1s forwards;
  opacity: 0;
  @include mixin.xs {
    width: 335px;
    height: 255px;
  }
}

.bodyContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 0px 30px 0px;
  @include mixin.xs {
    max-width: 335px;
    width: 100%;
    flex-direction: column;
  }
}

.hostAndRateContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mixin.xs {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.rateContainer {
  height: 40px;
}

.hostContainer {
  width: 196px;
  height: 70px;
}

.titleContainer {
  width: 635px;
  left: 100px;
  top: 573px;
}

.nameTagContainer {
  height: 30px;
  display: flex;
}

.layoutContainer {
  animation: slideup 1s forwards;
  opacity: 0;
  display: flex;
  width: 1240px;
  justify-content: space-between;
}

.animate1 {
  animation-delay: calc(0.1s / 1.5);
}

.animate2 {
  animation-delay: calc(0.3s / 1.5);
}

.animate3 {
  animation-delay: calc(0.6s / 1.5);
}
.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.descriptionContainer {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  animation: slideup 1s forwards;
  opacity: 0;
  @include mixin.xs {
    max-width: 335px;
    width: 100%;
    flex-direction: column;
  }
}

.accordion {
  width: 582px;
  display: flex;
  justify-content: space-between;
  @include mixin.xs {
    max-width: 335px;
    width: 100%;
  }
}
