//elements de base html tous les elems

body {
  margin: auto;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

* {
  // box-sizing: border-box;
}
