.container {
  display: flex;
}

.tagStyle {
  color: white;
  height: 25px;
  padding: 2px 20px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  font-weight: 500;
  font-size: 16px;
}
